body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: rgb(215, 185, 100);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#nav_btns{
  display: flex;
  justify-content: space-between;
  margin: 3% 15%;
  box-sizing: 10%;
  
}

#btns{
  font-size: 25px;
  border-radius: 4px;
  border: 1.5px solid;
}

h1{
  text-align: center;
  justify-content: center;
}

#balance_bar{
  justify-content: center;
  text-align: center; 
}

#sans{
  display: block;
  margin: 7% auto 0% auto;
  width: 40%;
}

#home_page{
  background-color: rgb(215, 185, 100);
  
}